.main-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main-content::after {
  content: "";
  display: block;
  height: 120px;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 12px 0;
  background: #2b2b2b;
  color: #fff;
  z-index: 1000;
}